[SddmGreeterTheme]
Name=Makima
Description=A modern and elegant SDDM theme
Author=ddh4r4m
Copyright=(c) 2024, ddh4r4m
License=GPL-3.0
Type=sddm-theme
Version=1.0
Screenshot=screenshot.jpg
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=Makima
QtVersion=6
